# No trailing slashes
scan_dirs:
 - "/v1/downloads/movies"
# Leave empty to avoid halting operation after the provided time (24h notation)
run_until: "06:30"
# Leave empty to skip creating a backup copy of the original file
backup_dir: "/v1/downloads/convert_backup"
